/.DS_Store
/.localized
/.vscode
/08-RNN.pdf
/Advance Business Analytics
/Assignment2_CNN_BrainTumor.ipynb
/DNN_Regression.ipynb
/Data Mining
/Data pravicy
/Deep Learning
/IA ML
/JL_Bank_Marketing_Classification-1.ipynb
/JL_DNN_Regression_Assignment-1.ipynb
/ML
/Nothing
/R
/Supply_Chain
/Tax 2024
/fitness_reviews.csv
/hackathon
/photos
/~$c48e82-ae8f-413c-817e-01ccc56e8730 (1).docx
/~$gan_report.docx
/~$mework3.docx
/~$mework6.docx
/~$mework7.docx